<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baswarajmamidgi.vnrvjiet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.baswarajmamidgi.vnrvjiet.FirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmzSsLMYs1wQZqvBtUOGH2VzfNSIFLBYc" />

        <activity
            android:name="com.baswarajmamidgi.vnrvjiet.MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Library" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Clubs" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Faculty" />

        <service android:name="com.baswarajmamidgi.vnrvjiet.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.baswarajmamidgi.vnrvjiet.Viewclubdetails" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Studentinfo" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Notifications" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Workshopslist" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.CollegeMap" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.MiscContacts" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Feedback" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Fest" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.StudentChapters" />

        <activity
            android:name="com.baswarajmamidgi.vnrvjiet.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.baswarajmamidgi.vnrvjiet.Gallery" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Timetable" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Syllabus" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Documents" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Loginactivity" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Login" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Register" />
        <activity android:name="com.baswarajmamidgi.vnrvjiet.Webpage" />
    </application>

</manifest>